extends layout

block content
  h1= title
  p Welcome to your Dungeons & Dragons Inventory built using Express.

  .dashboard-container
    .dashboard-item.overview
      h2 Inventory Overview

      p The Inventory has the following record counts:

      ul
        li #[strong Items:] !{item_count}
        li #[strong Categories:] !{category_count}
        li #[strong Equipped Items:] !{equipped_items} / !{equippable_items}
        li #[strong Gold:] !{gold.quantity}

    .dashboard-item.most-valuable-items
      h2 Most valuable items
      
      ol
        each item in valuableItemList
          li
            a(href=item.url) #{item.name}
            p #{item.value} gold
        else
          li No items

    h2.dashboard-item.net-worth Net Worth: #{netWorth} gold