extends layout

block content
  h1= title

  table
    tr
      th Name
      th Description
      //- th Quantity
    each item in item_list
      tr
        td
          a(href=item.url) #{item.name}
        td #{item.description}
        //- td #{item.quantity}

    else
      tr There are no items.
