extends layout

block content
  h1 Name: #{item.name}

  p #[strong Summary:] #{item.description}
  p #[strong Category: ]
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |, 
  p #[strong Quantity: ] #{item.quantity}
  p #[strong Item Value] (gold): #{item.value}
  p #[strong Inventory Value] (gold): #{item.totalValue}
  p #[strong Rarity: ] #{item.rarity}
  p #[strong Equippable: ] #{item.equippable}
  if item.equippable 
    p #[strong Equipped: ] #{item.equipped}
  hr
  p
    a(href=item.url+'/delete' class='supporting-icon delete') Delete item
  p 
    a(href=item.url+'/update' class='supporting-icon update') Update item
